{% extends 'base.html' %}

{% load custom_tags %}

{% block title %}
    Общие замечания
{% endblock %}

{% block content %}
    <div class="container-fluid px-lg-5 pt-3">
        <div class="row">
            {% if user|has_group:"Tenant" %}
                <div class="d-flex justify-content-center">
                    <a class="btn btn-outline-primary mt-2" href="{% url 'comment_create' %}">Добавить новое замечание</a>
                </div>
            {% endif %}
            {% if comment_list %}
            {% for comment in comment_list %}
            <div class="col-12 mx-auto col-md-12 col-lg-6">
                <div class="card my-2 border-secondary">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="text-primary mb-0">{{ comment.text }}</h5>
                        {% if comment.image %}
                        <button onclick="expand({{ comment.id }})" class="material-icons md-24 border-0 bg-light text-primary pe-0">image</button>
                        {% endif %}
                    </div>
                    <div class="card-body d-flex flex-md-row flex-column py-2">
                        {% if not user|has_group:"Tenant" %}
                        <h6 class="me-2 text-primary">Замечание:</h6>
                        {% endif %}
                        <div class="d-flex flex-row justify-content-between flex-grow-1">
                            <h6 class="mb-0">{{ comment.service }}</h6>
                            <h6 class="mb-0">{{ comment.status }}</h6>
                            {% if comment.completion_date and comment.status == 'Выполнена' %}
                            <h6 class="text-success font-italic mb-0">{{ comment.completion_date }}</h6>
                            {% elif comment.status != 'Отклонена' and comment.get_overdue %}
                            <h6 class="mb-0 text-danger">{{ comment.submission_date }}</h6>
                            {% else %}
                            <h6 class="mb-0">{{ comment.submission_date }}</h6>
                            {% endif %}
                            {% if user|has_group:"Tenant" and comment.status == 'На рассмотрении' %}
                            <a href="{% url 'comment_delete' comment.id status %}"><i class="material-icons md-24">delete</i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% if not user|has_group:"Tenant" %}
                    <div class="card-body d-flex flex-md-row flex-column py-2 border border-top">
                        <h6 class="me-2 text-primary">Жилец:</h6>
                        <div class="d-flex flex-row justify-content-between flex-grow-1">
                            <h6 class="mb-0">{{ comment.tenant.full_name }}</h6>
                            <h6 class="mb-0">{{ comment.tenant.apartment }}</h6>
                            <h6 class="mb-0">{{ comment.tenant.contact_details}}</h6>
                        </div>
                    </div>
                    {% endif %}
                    {% if user|has_group:"Master" %}
                    <div class="card-footer d-flex justify-content-center">
                        <form action="{% url 'worker_appointment' comment.id status %}" class="mb-0" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment" value="true">
                            <label for="worker" class="h6">Закреплённый работник:</label>
                            <select name="worker" id="worker" class="external">
                                {% if comment.worker_id %}
                                <option value="{{ comment.worker_id }}">{{ comment.worker.full_name }}</option>
                                {% else %}
                                <option value="{{ comment.worker_id }}">Не закреплён</option>
                                {% endif %}
                                {% for worker in comment.get_workers %}
                                <option value="{{ worker.id }}">{{ worker.full_name }}</option>
                                {% endfor %}
                                <option value="">Снять с заявки</option>
                            </select>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Назначить</button>
                        </form>
                    </div>
                    {% endif %}
                    {% if user|has_group:"Master" or user|has_group:"Worker" %}
                    <div class="card-footer d-flex justify-content-center">
                        <form action="{% url 'change_status' comment.id status %}" class="mb-0" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comment" value="true">
                            <div>
                                <label for="{{ comment.id }}" class="h6">Статус замечания:</label>
                                <select onchange="reply({{ comment.id }})" name="status" id="{{ comment.id }}" class="mx-1 external">
                                    <option value="{{ comment.status }}">{{ comment.status }}</option>
                                    <option value="Принята">Принята</option>
                                    {% if user|has_group:"Master" %}
                                    <option value="Отклонена">Отклонена</option>
                                    {% elif user|has_group:"Worker" %}
                                    <option value="Отложена">Отложена</option>
                                    <option value="Выполнена">Выполнена</option>
                                    {% endif %}
                                </select>
                                <input type="text" name="answer" class="external" id="answer{{ comment.id }}" hidden placeholder="Введите ответ">
                                <button type="submit" class="btn btn-outline-primary btn-sm mx-1">Изменить</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    {% if comment.image %}
                        <div id="image{{ comment.id }}" class="card-footer text-center" hidden>
                            <img class="img-fluid" src="{{ comment.image.url }}">
                        </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">Не было подано ни одного замечания.</p>
            {% endif %}
        </div>
    </div>
    <script>
        function reply(id) {
            let select = document.getElementById(id)
            let answer = document.getElementById('answer'+ id)
            answer.hidden = select.options[select.selectedIndex].value === 'Принята'
        }
        function expand(id) {
            let image = document.getElementById('image'+ id)
            image.hidden = image.hidden != true
        }
    </script>
{% endblock %}