{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Рекомендации
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if user|has_group:"Tenant" %}
                <a class="text-center" href="{% url 'comment_create' %}">Добавить новую рекомендацию</a>
            {% endif %}
            {% if comment_list %}
            {% for comment in comment_list %}
            <div class="col-12 mx-auto col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="card-footer d-flex justify-content-between">
                        <h5 class="font-weight-bold mb-0">{{ comment.text }}</h5>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <h5 class="text-info font-italic mb-0">{{ comment.service }}</h5>
                        <h5 class="text-info font-italic mb-0">{{ comment.status }}</h5>
                        <h5 class="text-info font-italic mb-0">{{ comment.submission_date }}</h5>
                        <div>
                            {% if user|has_group:"Tenant" and comment.status == 'На рассмотрении' %}
                            <a href="{% url 'comment_delete' comment.id %}"><i class="material-icons md-24">delete</i></a>
                            {% endif %}
                        </div>
                    </div>
                    {% if user|has_group:"Master" %}
                    <div class="card-footer d-flex justify-content-between">
                        <form action="{% url 'worker_appointment' comment.id %}" method="post">
                            {% csrf_token %}
                             <input type="hidden" name="comment" value="true">
                            <label for="worker">Закреплённый работник:</label>
                            <select name="worker" id="worker">
                                {% if comment.worker_id %}
                                <option value="{{ comment.worker_id }}">{{ comment.worker.full_name }}</option>
                                {% else %}
                                <option value="{{ comment.worker_id }}">Не закреплён</option>
                                {% endif %}
                                {% for worker in comment.get_workers %}
                                <option value="{{ worker.id }}">{{ worker.full_name }}</option>
                                {% endfor %}
                                <option value="">Снять с заявки</option>
                            </select>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Назначить</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">Не было подано ни одной рекомендации.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}