{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Создайте новую заявку
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        <div class="col-sm-11 col-md-9 col-lg-6 mx-auto bg-light">
            <div class="form-inner">
                <div class="text">
                    <h3 class="text-center">Создание новой заявки</h3>
                    <p class="text-center">Пожалуйста, введите следующую информацию, чтобы создать новую заявку</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <p>{{ form | crispy}}</p>
                    <button type="submit" name="button"
                            class="btn btn-outline-primary d-block mx-auto">Создать заявку</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}