{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Создайте новое общее замечание
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        <div class="col-sm-11 col-md-9 col-lg-6 mx-auto bg-light">
            <div class="form-inner">
                <div class="text">
                    <h3 class="text-center">Создание нового замечания</h3>
                    <p class="text-center">Пожалуйста, введите следующую информацию, чтобы создать новое замечание</p>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form | crispy}}</p>
                    <button type="submit" name="button"
                            class="btn btn-outline-primary d-block mx-auto">Создать замечание</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}