{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Замечания
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if requestcomment_list %}
            {% for comment in requestcomment_list %}
            <div class="col-12 mx-auto col-md-12 col-lg-6">
                <div class="card my-2">
                    <div class="card-footer">
                        <a href="{{ comment.request.get_absolute_url }}#{{ comment.id }}"><h5 class="font-weight-bold mb-0 text-center">{{ comment.get_summary }}</h5></a>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        {% if user|has_group:"Manager" %}
                        <h6>{{ comment.user }}</h6>
                        {% endif %}
                        <h6 class=" mb-0">{{ comment.request }}</h6>
                        {% if user|has_group:"Tenant" %}
                            {% if comment.status != 'Отзыв' and comment.status != 'Ответ'%}
                            <h5>{{ comment.status }}</h5>
                            {% endif %}
                        {% endif %}
                        <h6>{{ comment.submission_date }}</h6>
                    </div>
                    {% if comment.status == 'Отложено' or comment.status == 'Устранено' %}
                    <div class="card-footer d-flex justify-content-center">
                        {% if comment.status == 'Отложено' %}
                        <p class="text-danger">{{ comment.answer }}</p>
                        {% else %}
                        <p class="text-success">{{ comment.answer }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% if user|has_group:"Worker" %}
                    <div class="card-footer d-flex justify-content-between">
                        <form action="{% url 'change_status' comment.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="request_comment" value="true">
                            <div class="d-flex flex-row">
                                <label for="{{ comment.id }}">Статус замечания:</label>
                                <select onchange="reply({{ comment.id }})" name="status" id="{{ comment.id }}" class="mx-2">
                                    {% if comment.status == 'Принято к устранению' %}
                                    <option value="Принято к устранению">Принято</option>
                                    {% else %}
                                    <option value="{{ comment.status }}">{{ comment.status }}</option>
                                    {% endif %}
                                    <option value="Принято к устранению">Принято</option>
                                    <option value="Отложено">Отложено</option>
                                    <option value="Устранено">Устранено</option>
                                </select>
                                <input type="text" name="answer" id="answer{{ comment.id }}" hidden placeholder="Введите ответ">
                                <button type="submit" class="btn btn-outline-primary btn-sm mx-2">Изменить</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">Не было получено ни одного нового замечания.</p>
            {% endif %}
        </div>
    </div>
    <script>
        function reply(id) {
            let select = document.getElementById(id)
            let answer = document.getElementById('answer'+ id)
            answer.hidden = select.options[select.selectedIndex].value === 'Принято к устранению'
        }
    </script>
{% endblock %}