{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Замечания
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% if requestcomment_list %}
            {% for comment in requestcomment_list %}
            <div class="col-12 mx-auto col-md-12 col-lg-6">
                <div class="card my-2">
                    <div class="card-footer">
                        <a href="{{ comment.request.get_absolute_url }}#{{ comment.id }}"><h5 class="font-weight-bold mb-0 text-center">{{ comment.get_summary }}</h5></a>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        {% if user|has_group:"Manager" %}
                        <h5 class="text-info font-italic mb-0">{{ comment.user }}</h5>
                        {% endif %}
                        <h5 class="text-info font-italic mb-0">{{ comment.request }}</h5>
                        {% if user|has_group:"Tenant" %}
                            {% if comment.status != 'Отзыв' and comment.status != 'Ответ'%}
                            <h5 class="text-info font-italic mb-0">{{ comment.status }}</h5>
                            {% endif %}
                        {% endif %}
                        <h5 class="text-info font-italic mb-0">{{ comment.submission_date }}</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">Не было получено ни одного нового замечания.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}