{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Заявки
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column justify-content-center my-2">
            <form action="{% url 'search_requests' %}" method="get">
                <div class="d-flex flex-row justify-content-center">
                    <input type="text" placeholder="Поиск по заявкам" name="search" required>
                    <button type="submit" class="btn btn-success"><span class="material-icons md-24">search</span></button>
                    <a class="btn btn-success" href="{% url 'all_requests' %}"><span class="material-icons md-24">refresh</span></a>
                </div>
            </form>
            <div class="d-flex justify-content-center">
                {% if user|has_group:"Manager" %}
                <a class="btn btn-outline-primary" href="{% url 'manager_request_create' %}">Добавить новую заявку</a>
                {% elif user|has_group:"Tenant" %}
                <a class="btn btn-outline-primary" href="{% url 'request_create' %}">Добавить новую заявку</a>
                {% elif user|has_group:"Master" %}
                <div class="d-flex flex-row justify-content-center">
                    <a class="btn btn-outline-primary mx-1" href="{% url 'export_to_excel' %}">Экспортировать в Excel</a>
                    <a class="btn btn-outline-primary mx-1" href="{% url 'export_to_pdf' %}">Экспортировать в PDF</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {% if request_list %}
            {% for request in request_list %}
            <div class="col-lg-6 col-12">
                <div class="card mb-4">
                    <div class="card-footer d-flex flex-row justify-content-between">
                        <a href="{{ request.get_absolute_url }}" class="font-weight-bold mb-0 h5">{{ request.service }}</a>
                        <h5 class="text-info font-italic mb-0">{{ request.status }}</h5>
                        <h5 class="text-info font-italic mb-0">{{ request.submission_date }}</h5>
                        {% if user|has_group:"Tenant" or user|has_group:"Manager"%}
                        <div>
                            {% if user|has_group:"Tenant" %}
                            <a href="{% url 'request_update' request.id %}"><i class="material-icons md-24">edit</i></a>
                            {% elif user|has_group:"Manager" %}
                            <a href="{% url 'manager_request_update' request.id %}" class="material-icons md-24">edit</a>
                            <a href="{% url 'request_delete' request.id %}"><i class="material-icons md-24">delete</i></a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                    {% if user|has_group:"Master" or user|has_group:"Worker" %}
                    <div class="card-footer d-flex justify-content-between">
                        {% if user|has_group:"Master" %}
                        <form action="{% url 'worker_appointment' request.id %}" method="post">
                            {% csrf_token %}
                            <label for="worker">Закреплённый работник:</label>
                            <select name="worker" id="worker">
                                {% if request.worker_id %}
                                <option value="{{ request.worker_id }}">{{ request.worker.full_name }}</option>
                                {% else %}
                                <option value="{{ request.worker_id }}">Не закреплён</option>
                                {% endif %}
                                {% for worker in request.get_workers %}
                                <option value="{{ worker.id }}">{{ worker.full_name }}</option>
                                {% endfor %}
                                <option value="">Снять с заявки</option>
                            </select>
                            <button type="submit" class="btn btn-outline-primary btn-sm">Назначить</button>
                        </form>
                        {% elif user|has_group:"Worker" %}
                        <form action="{% url 'change_request_status' request.id %}" method="post">
                            {% csrf_token %}
                            <div class="d-flex flex-row">
                                <label for="{{ request.id }}">Статус заявки:</label>
                                <select onchange="reply({{ request.id }})" name="status" id="{{ request.id }}" class="mx-2">
                                    <option value="{{ request.status }}">{{ request.status }}</option>
                                    <option value="Принята">Принята</option>
                                    <option value="Отложена">Отложена</option>
                                    <option value="Выполнена">Выполнена</option>
                                </select>
                                <input type="text" name="answer" id="answer{{ request.id }}" hidden placeholder="Введите ответ">
                                <button type="submit" class="btn btn-outline-primary btn-sm mx-2">Изменить</button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">Не было подано ни одной заявки.</p>
            {% endif %}
        </div>
    </div>
    <script>
        function reply(id) {
            let select = document.getElementById(id)
            let answer = document.getElementById('answer'+ id)
            answer.hidden = select.options[select.selectedIndex].value === 'Принята'
        }
    </script>
{% endblock %}