{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Информация о заявке
{% endblock %}

{% block content %}
    <div class="rol-10 mx-auto col-md-6 my-3 text-center">
        <h1>{{ request.service }}</h1>
        <h5 class="text-info font-italic mb-4">{{ request.service.service_type }}</h5>
        <p><strong>Дата подачи:</strong> {{ request.submission_date }}</p>
        <p><strong>Состояние:</strong> {{ request.status }}</p>
        <p><strong>Время начала:</strong> {{ request.start_time }}</p>
        <p><strong>Время завершения:</strong> {{ request.end_time }}</p>
        <p><strong>Закреплённый работник:</strong></p>
        {% if user|has_group:"Manager" %}
        <p><strong>Подал заявку:</strong> {{ request.tenant }}</p>
        <a href="{% url 'all_requests' %}">Вернуться к списку заявок</a>
        {% else %}
        <a href="{% url 'tenant_requests' user.tenant.full_name %}">Вернуться к выбору заявки</a>
        {% endif %}
    </div>
{% endblock %}