{% extends "base.html" %}

{% load custom_filters %}

{% block title %}
    Подтверждение удаления
{% endblock %}

{% block content %}
    <div class="text-center">
        <h1>Удаление заявки</h1>
        <p>Вы уверены, что хотите удалить комментарий <strong>{{ requestcomment }}</strong>?</p>
        <form action="" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Да, я уверен(а)</button>
            <a class="btn btn-secondary" href="{{ requestcomment.request.get_absolute_url }}">Нет, отменить удаление</a>
        </form>
    </div>
{% endblock %}