{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Изменение текущей заявки
{% endblock %}

{% block content %}
    <div class="container-fluid pt-4">
        <div class="col-sm-11 col-md-9 col-lg-6 mx-auto bg-light">
            <div class="form-inner">
                <div class="text">
                    <h3 class="text-center">Изменение текущей заявки</h3>
                    <p class="text-center">Пожалуйста, измените необходимую информацию и сохраните изменения</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <p>{{ form | crispy}}</p>
                    <button type="submit" name="button" class="btn btn-outline-primary d-block mx-auto">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}