{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Пользователи
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <a class="text-center" href="{% url 'signup' %}">Добавить нового работника</a>
            {% if worker_list %}
            {% for worker in worker_list %}
            <div class="col-12 mx-auto col-md-12 col-lg-6">
                <div class="card mb-4">
                    <div class="card-footer d-flex justify-content-between">
                        <h5 class="text-info font-italic mb-0">{{ worker.full_name }}</h5>
                        <h5 class="text-info font-italic mb-0">{{ worker.position }}</h5>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">Не было подано ни одной заявки.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}