{% extends 'base.html' %}

{% load custom_filters %}

{% load crispy_forms_tags %}

{% block title %}
    Создайте новую учетную запись
{% endblock %}

{% block content %}

    <div>
        {% if not form.is_valid %}
        <div>
            <br>
            <h1 class="text-center">Создайте новую учетную запись</h1>
            <br>
            <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto bg-light">
                <br>
                <p>Пожалуйста, введите следующую информацию, чтобы создать новую учетную запись</p>
                <form method="POST">
                    {% csrf_token %}
                    <p>{{ form | crispy}}</p>
                    <button type="submit" name="button" class="btn btn-outline-primary d-block mx-auto">Регистрация</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="mx-auto text-center">
            <br>
        {% if user|has_group:"Master" %}
            <h1>Новый работник успешно зарегистрирован</h1>
            <br>
            <div>
                <p>Новый профиль успешно зарегистрирован и готов к аутентификации</p>
                <br>
                <a href="{% url 'all_workers' %}" class="btn btn-outline-primary">Вернуться к списку работников</a>
        {% else %}
            <h1>Ваша учётная запись успешно создана</h1>
            <br>
            <div>
                <p>Ваша учётная запись успешно создана и готова к использованию!</p>
                <br>
                <a href="{% url 'login' %}" class="btn btn-outline-primary">Перейти к авторизации</a>
        {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}