{% load custom_filters %}

<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container-fluid justify-content-center">
        <a href="/" class="navbar-brand"><span class="material-icons md-48 text-success">apartment</span></a>
        <button class="navbar-toggler bg-light" data-bs-toggle="collapse" data-bs-target="#navbar"><span class="navbar-toggler-icon"></span></button>
        <div id="navbar" class="collapse navbar-collapse justify-content-center">
            <ul class="navbar-nav">
                {% if user.is_authenticated and user.first_name %}
                <li class="nav-item"><span class="nav-link text-light text-uppercase font-weight-bold px-3">Добро пожаловать, {{ request.user.first_name }}!<span class="material-icons md-24">account_circle</span></span></li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3 pb-3" href="{% url 'logout' %}">Выйти<span class="material-icons md-24">logout</span></a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">Регистрация<span class="material-icons md-24">add</span></a></li>
                <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'login' %}">Авторизация<span class="material-icons md-24">login</span></a></li>
                {% endif %}
            </ul>
            <form action="{% url 'search' %}?previous_page={{ request.path }}" class="form-inline" method="get">
                <div class="input-group">
                    {% if not 'search' in request.path %}
                    <input type="hidden" name="previous_page" value="{{ request.path }}">
                    {% endif %}
                    <input type="text" placeholder="Поиск по заявкам" name="search" required>
                    <div>
                        <button type="submit" class="btn-success"><span class="material-icons md-24">search</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid justify-content-center">
        <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                {% if request.user|has_group:"Manager" or request.user|has_group:"Tenant" %}
                    <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-bs-toggle="dropdown" href="">Заявки</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'all_requests' %}">Все заявки</a>
                            {% if 'request' in request.path %}
                            {% for request in view.get_statuses %}
                            <a class="dropdown-item" href="{% url 'all_requests' %}?status={{ request.status }}">{{ request.status }}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                {% endif %}
                {% if request.user|has_group:"Manager" %}
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'request_comments' %}?status=Замечание">Новые замечания{% if complaints_count %}({{ complaints_count  }}){% endif %}</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'request_comments' %}?status=Отзыв">Отзывы</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'request_comments' %}?status=Ответ">Ответы</a></li>
                    <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-bs-toggle="dropdown" href="">Замечания</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'request_comments' %}">Все замечания</a>
                            {% if 'complaint' in request.path %}
                            {% for request in view.get_statuses %}
                            <a class="dropdown-item" href="{% url 'request_comments' %}?status={{ request.status }}">{{ request.status }}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </li>
                {% elif  request.user|has_group:"Tenant" %}
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'request_comments' %}">Мои замечания</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'comments' %}">Рекомендации</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'request_comments' %}?status=Отзыв">Мои отзывы</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'request_comments' %}?status=Ответ">Ответы</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'tenant_update' user.tenant.id %}">Профиль</a></li>
                {% elif request.user|has_group:"Master"%}
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'all_requests' %}">Заявки</a></li>
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'all_workers' %}">Работники участка</a></li>
                {% elif request.user|has_group:"Worker"%}
                {% endif %}
            {% endif %}
            </ul>
        </div>
    </div>
</nav>